.width_limiter {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}
.block_container {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0 1.0416666666667%;
	overflow: hidden;
	position: relative;
}
.block_container.allow_overflow {
	overflow: visible;
}
.nccu_grid_block {
	float: left;
	margin-left: 1.063829787234%;
	margin-right: 1.063829787234%;
}
.block_container .block_container {
	padding: 0;
}
.full {width: 97.872340425532%;}
.col_1 {width: 6.2056737588652%;}
.col_2 {width: 14.539007092199%;}
.col_3 {width: 22.872340425532%;}
.col_4 {width: 31.205673758865%;}
.col_5 {width: 39.539007092199%;}
.col_6 {width: 47.872340425532%;}
.col_7 {width: 56.205673758865%;}
.col_8 {width: 64.539007092199%;}
.col_9 {width: 72.872340425532%;}
.col_10 {width: 81.205673758865%;}
.col_11 {width: 89.539007092199%;}
.col_12 {width: 97.872340425532%;}
.clear {
	clear: both;
}
.nccu_grid_block .nccu_grid_block:first-of-type {
	margin-left: 0;
}
.nccu_grid_block .nccu_grid_block:last-of-type {
	margin-right: 0;
}
.of_6 {
	margin-left: 2.2222222222222%;
	margin-right: 2.2222222222222%;
}
.col_2.of_6 {
	width: 30.3703703703704%;
}
.col_3.of_6 {
	width: 47.7777777777778%;
}
.col_6.of_6, .full.of_6 {
	width: 100%;
}
.of_9 {
	margin-left: 1.4598540145985%;
	margin-right: 1.4598540145985%;
}
.col_6.of_9 {
	width: 65.6934306569343%;
}
.col_9.of_9, .full.of_9 {
	width: 100%;
}
.of_12 {
	margin-left: 1.0869565217391%;
	margin-right: 1.0869565217391%;
}
.col_6.of_12 {
	width: 48.9130434782609%;
}
.col_12.of_12, .full.of_12 {
	width: 100%;
}
