@charset "utf-8";
/*********** REFERENCE ***********/
/*Z-Index Layers*/
/*400: Dropdown menus*/
/*300:  Curves*/
/*200:  Slider*/

/*Font Weights*/
/*400 Book*/
/*500 Medium*/
/*700 Demi*/
/*900 Heavy/Black*/

/*********** STANDARD STYLES ***********/
body {
	font-family: ff-more-web-pro, serif;
	color: #5f646a;
}
p {
	font: 400 14px/24px ff-more-web-pro, serif;
	color: #5f646a;
	margin-bottom: 10px;
}
h2 {
	font: 400 28px/28px ff-more-web-pro, serif;
	color: black;
	margin-bottom: 10px;
}
h3 {
	font: 700 19px/24px franklin-gothic-urw, sans-serif;
	color: #06243e;
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: solid 1px #e0e0e0;
}
h4 {
	font: 700 16px/18px franklin-gothic-urw, sans-serif;
	color: #005c50;
	margin-bottom: 10px;
}
h5 {
	font: 700 22px/28px franklin-gothic-urw, sans-serif;
	color: #005c50;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h6 {
	font: 700 12px/12px franklin-gothic-urw, sans-serif;
	color: #5f646a;
	margin-bottom: 0;
	text-transform: uppercase;
}
a {
	color: #005c50;
	text-decoration: underline;
	transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-khtml-transition: color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s;
}
a:hover {
	color: #00a892;
}
label {
	font: 700 16px/32px franklin-gothic-urw, sans-serif;
	color: #005c50;
}
input[type=text], input[type=url], input[type=tel], input[type=number], input[type=color], input[type=email], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=range], input[type=search], input[type=time], input[type=week], input[type=password], textarea {
	border: none;
	border-radius: 6px;
	font: 500 18px/32px franklin-gothic-urw, sans-serif;
	color: #5f646a;
	padding: 0 12px;
	background-color: #d9e7e5;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
	width: 100%;
}
input[type=text], input[type=url], input[type=tel], input[type=number], input[type=color], input[type=email], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=range], input[type=search], input[type=time], input[type=week], input[type=password] {
	height: 32px;
	margin-bottom: 10px;
}
input[type=text]:hover, input[type=text]:focus, input[type=url]:hover, input[type=url]:focus, input[type=tel]:hover, input[type=tel]:focus, input[type=number]:hover, input[type=number]:focus, input[type=color]:hover, input[type=color]:focus, input[type=email]:hover, input[type=email]:focus, input[type=date]:hover, input[type=date]:focus, input[type=datetime]:hover, input[type=datetime]:focus, input[type=datetime-local]:hover, input[type=datetime-local]:focus, input[type=month]:hover, input[type=month]:focus, input[type=range]:hover, input[type=range]:focus, input[type=search]:hover, input[type=search]:focus, input[type=time]:hover, input[type=time]:focus, input[type=week]:hover, input[type=week]:focus, input[type=password]:hover, input[type=password]:focus, textarea:hover, textarea:focus, button[type=submit]:focus {
	background-color: #ccdedc;
}
input[type=submit], input[type=button], button[type=submit] {
	font: 700 16px/32px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	height: 32px;
	border: 0;
	color: white;
	background-color: #f09032;
	padding: 0 14px;
	border-radius: 6px;
	text-decoration: none;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
	margin-right: 12px;
}
input[type=submit]:hover,
button[type=submit]:hover,
input[type=button]:hover,
input[type=submit]:focus,
button[type=submit]:focus,
input[type=button]:focus,
{
	background-color: #fec84e;
}


/*********** CORE OVERRIDES ***********/
th {
	border-bottom: 0;
}
tbody {
	border-top: 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error, .form-item .selectboxit.error {
	border: 1px solid #ee2e24;
	background-color: #fdeae9;
}
.marker, .form-required {
	color: #ee2e24;
}
div.error, table tr.error {
	background-color: #fdeae9;
}
div.status, table tr.ok {
	background-color: #d9e7e5;
}
div.error, .error {
	color: #b2212a;
}
div.status, .ok {
	color: #005c50;
}
div.error, div.status {
	border: 0;
	border-radius: 12px;
	font: 700 14px/16px franklin-gothic-urw, sans-serif;
}
ul.primary {
	border-bottom: 1px solid #bbb;
	padding: 0 0 0 12px;
}
ul.primary li a {
	font: 700 16px/24px franklin-gothic-urw, sans-serif;
	background-color: #f0f0f1;
	border-color: #b2b6b7;
	border-style: solid solid none solid;
	color: #126388;
	border-radius: 6px 6px 0 0;
	border-width: 1px;
	margin-right: 12px;
	padding: 3px 9px;
	text-decoration: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-khtml-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
ul.primary li a:hover, ul.primary li a.active:hover {
	background-color: #126388;
	color: white;
	border-color: #126388;
}
ul.primary li a.active {
	color: black;
}


/*********** HEADER ***********/
header.main {
	height: 230px;
	position: relative;
}
.mountains {
	position: absolute;
	height: 208px;
	width: 940px;
	left: 50%;
	margin-left: -470px;
	top: 0;
}
.day .mountains {
	background: url('../images/mountains_short_day.png') no-repeat top center;
	background-size: 940px 208px;
}
.night .mountains {
	background: url('../images/mountains_short_night.png') no-repeat top center;
	background-size: 940px 208px;
}
a.logo {
	display: block;
	width: 260px;
	height: 97px;
	margin-top: 35px;
	color: transparent;
}
.night a.logo {
	background: url('../images/masthead_logo.png') no-repeat 0 0;
	background-size: 260px 194px;
}
.day a.logo {
	background: url('../images/masthead_logo.png') no-repeat 0 -97px;
	background-size: 260px 194px;
}
.day header.main {
	background: #005065 url('../images/masthead_short_day_grad.png') repeat-x top left;
	background-size: 100px 180px;
}
.night header.main {
	background: #06243e url('../images/masthead_short_night_grad.png') repeat-x top left;
	background-size: 100px 180px;
}
.night h6 {
	color: white;
}
.login_help {
	text-transform: none;
	font-size: 10px;
	font-weight: 400;
}
.day .login_help {
	color: #008754;
}
.night .login_help {
	color: #f09032;
}
.day .login_help:hover {
	color: #00a892;
}
.night .login_help:hover {
	color: #fec84e;
}
header.main .menus {
	padding-top: 16px;
	text-align: right;
	height: 16px;
}
.day header.main .masthead_menu .button {
	border-color: rgba(0, 92, 80, 0.2);
	color: #005c50;
	background-color: rgba(0, 92, 80, 0);
}
.day header.main .masthead_menu .button:hover {
	border-color: rgba(0, 92, 80, 1);
	background-color: #005c50;
	color: white;
}
header.main .social_media_icons {
	text-align: right;
}
header.main .masthead_menu,
header.main .social_media_icons ul
{
	display: inline-block;
	margin-left: 6px;
	height: 16px;
	text-align: right;
}
header.main .social_media_icons li {
	vertical-align: top;
}
header.main .social_media_icons a {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url('../images/social_media.png');
	background-repeat: no-repeat;
	background-size: 96px 36px;
	color: transparent;
	overflow: hidden;
  margin-left: 8px;
}
header.main .social_media_icons a.facebook {
	background-position: 0 -12px;
}
header.main .social_media_icons a.twitter {
	background-position: -24px -12px;
}
header.main .social_media_icons a.google_plus {
	background-position: -48px -12px;
}
header.main .social_media_icons a.linkedin {
	background-position: -72px -12px;
}


/*********** TETHERED LOGIN FORM ***********/
.tethered_login {
	margin-top: 50px;
}
.tethered_login a {
	text-decoration: none;
}

.tethered_login a.tmp_link {
	display: block;
	clear: both;
	background-color: #005c50;
	color: white;
	font: 900 12px/32px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	transition: background-color 0.2s ease 0s;;
}

@media all and (max-width: 768px) {
	.tethered_login a.tmp_link {
		display: none;
	}
}

.tethered_login a.tmp_link:hover {
	background-color: #00a892;
}

.tethered_login .title {
	font: 700 12px/12px franklin-gothic-urw, sans-serif;
	color: #5f646a;
	margin: 0;
	text-transform: uppercase;
	line-height: 24px;
	text-align: right;
}
.tethered_login label {
	display: none;
}
.tethered_login .button_mobile {
	display: none;
	float: left;
	background-color: #f09032;
	padding: 14px;
	border-radius: 6px;
	width: 100%;
	text-align: center;
	font: bold 18px/18px franklin-gothic-urw, sans-serif;
	color: white;
	text-transform: uppercase;
	margin-bottom: 26px;
}
.tethered_login .username,
.tethered_login .password
{
	background-color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-khtml-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
	margin-bottom: 0;
}
.day .tethered_login .username:hover, .day .tethered_login .username:focus,
.day .tethered_login .password:hover, .day .tethered_login .password:focus
{
	background-color: #fff4dc;
}
.night .tethered_login .username:hover, .night .tethered_login .username:focus,
.night .tethered_login .password:hover, .night .tethered_login .password:focus
{
	background-color: #d0e0e7;
}
.tethered_login .username {
	width: calc(100% - 60px);
	margin-left: 2.2222222222222%;
	margin-right: 0;
	border-radius: 6px 0 0 6px;
}
.tethered_login button[type=submit],
.tethered_login #fake_login
{
	width: 60px;
	margin: 0;
	border: 0;
	height: 32px;
	border-radius: 0 6px 6px 0;
	padding: 0;
	color: white;
	font: 900 12px/32px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-khtml-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
.day .tethered_login button[type=submit] {
	background-color: #005c50;
}
.day .tethered_login button[type=submit]:hover, .day .tethered_login button[type=submit]:focus {
	background-color: #00a892;
}
.night .tethered_login button[type=submit] {
	background-color: #f09032;
}
.night .tethered_login button[type=submit]:hover, .night .tethered_login button[type=submit]:focus {
	background-color: #fec84e;
}


/*********** MAIN MENU ***********/
nav.main {
	margin-top: 55px;
	opacity: 0;
	position: relative;
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
nav.main .menu-block-wrapper > .menu > li {
	display: block;
	float: left;
	height: 39px;
}
nav.main .menu-block-wrapper > .menu > li > a, nav.main .menu-block-wrapper > .menu > li > span.nolink {
	font: 700 22px/36px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	color: white;
	display: block;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	-khtml-transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	padding: 0 10px;
	z-index: 400;
	position: relative;
}
/*This would change the color of the top-level links, but it behaves erratically when the same link is in multiple menus.*/
/*nav.main .menu-block-wrapper > .menu > li > a.active-trail {*/
	/*color: #f09032;*/
/*}*/
nav.main .menu-block-wrapper > .menu > li > span.search {
	width: 38px;
	height: 36px;
	color: transparent;
	overflow: hidden;
	background: url('../images/loupe.png') no-repeat center center;
	background-size: 18px 18px;
	cursor: pointer;
}
nav.main .menu-block-wrapper > .menu > li.open a,
nav.main .menu-block-wrapper > .menu > li a:hover,
nav.main .menu-block-wrapper > .menu > li > span.nolink:hover,
nav.main .menu-block-wrapper > .menu > li > span.nolink.open
{
	background-color: rgba(255,255,255,0.2);
	border-bottom-color: #f09032;
}
nav.main .contextual-links-wrapper {
	visibility: hidden;
}
nav.main .menu-block-wrapper > .menu { /*Top level menu*/
	display: block;
}
nav.main .menu .menu { /*Inner menus*/
	opacity: 0;
	background: white;
	z-index: 400;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-khtml-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	position: absolute;
	/*top: 39px;*/
	left: -10000px;
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
nav.main .menu li.expanded.open .menu {
	opacity: 0.93;
}
nav.main .menu .menu li {
	display: block;
}
nav.main .menu .menu li a {
	display: block;
	font: 700 14px/16px franklin-gothic-urw, sans-serif;
	text-decoration: none;
	padding: 8px 12px;
	transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-khtml-transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
}
nav.main .menu .menu li a.secondary_link {
	background-color: #d9e7e5;
}
nav.main .menu .menu li a.active {
	color: #f09032;
}
nav.main .menu .menu li a:hover, nav.main .menu .menu li a.active:hover {
	background-color: #005c50;
	color: white;
}
nav.main .menu .menu li a.icon {
	background-position: 12px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 36px;
}
nav.main .menu .menu li a.icon:hover, nav.main .menu .menu li a.icon.active:hover {
	background-color: #475463;
}
/**** Individual Icons ****/
nav.main .menu .menu li a.sprig {
	background-image: url('../images/icon_sprig.png');
}
nav.main .menu .menu li a.ezcardinfo {
	background-size: 26px 16px;
	padding-left: 46px;
	background-image: url('../images/icon_ezcardinfo.png');
}


/*********** SEARCH ***********/
/*Nav bar field*/
#block-search-form {
	opacity: 0;
	position: absolute;
	top: 36px;
	left: -10000px;
	right: auto;
	z-index: 400;
	background-color: white;
	padding: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-khtml-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
#block-search-form.open {
	opacity: 0.93;
}
#block-search-form .form-item { /*Text input container*/
	margin: 0;
	float: left;
}
#block-search-form .form-item input[type=text] { /*Text input*/
	border-radius: 6px 0 0 6px;
	width: 200px;
	margin-bottom: 0;
}
#block-search-form .form-actions { /*Submit button container*/
	float: left;
}
#block-search-form .form-actions input[type=submit] { /*Submit button*/
	border-radius: 0 6px 6px 0;
	margin: 0;
}
/*Search page*/
#edit-keys {
	margin-bottom: 10px;
}


/*********** MAIN CONTENT AREA ***********/
section.content {
	margin-top: 20px;
}
img {
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
img.float_left,
table.float_left
{
	float: left;
	margin-right: 20px;
}
img.float_right,
table.float_right
{
	float: right;
	margin-left: 20px;
}


/*********** SPECIAL NOTICES BLOCK ***********/
#block-views-special-notices-block {
	background-color: #ffecc1;
	padding: 14px 20px;
	border-radius: 12px;
	text-align: center;
	font: 500 20px/22px franklin-gothic-urw, sans-serif;
	color: #f09032;
	margin-bottom: 30px;
}
#block-views-special-notices-block a {
	color: #f09032;
	text-decoration: none;
	transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-khtml-transition: color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s;
}
#block-views-special-notices-block a:hover {
	color: #fec84e;
}
#block-views-special-notices-block .views-row {
	padding: 6px 0;
}



/********* CAROUSEL AREA & CURVES *********/
.curve {
	position: absolute;
	z-index: 300;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 2560px 30px;
}
.curve.top {
	bottom: -30px;
}
.day .curve.top {
	background-image: url('../images/slider_curve_top_day.png');
}
.night .curve.top {
	background-image: url('../images/slider_curve_top_night.png');
}
.curve.bottom {
	background-image: url('../images/slider_curve_bottom.png');
	bottom: 0;
}
.carousel {
	height: 400px;
	position: absolute;
	width: 100%;
}
.carousel_spacer { /*A blank area that takes up the same amount of vertical space as a slider, so the slider can be position: absolute*/
	height: 400px;
	margin-bottom: 70px;
	position: relative;
}
.carousel_spacer .spinner {
	height: 40px;
	width: 40px;
	display: block;
	position: absolute;
	background: url('../images/spinner.gif') no-repeat center center;
	background-size: 40px 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.carousel .slide {
	height: 400px;
	width: 100%;
	background-position: top center;
	background-size: 2560px 400px;
}
.carousel .slide a {
	display: block;
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0;
}
.carousel li {
	margin-right: 0;
}
.flexslider {
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 70px;
}
.flex-control-nav {
	height: 10px;
}
.flex-control-nav li {
	margin: 0 5px;
}
.flex-control-paging li a {
	height: 10px;
	width: 10px;
	background: #b2b6b7;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
.flex-control-paging li a:hover {
	background: #5f646a;
}
.flex-control-paging li a.flex-active {
	background: #005c50;
}


/*********** PRETTY TABLES ***********/
table.pretty, .pretty table {
	border-collapse: collapse;
	margin-bottom: 30px;
}
.pretty table td:first-child, table.pretty td:first-child, .pretty table th:first-child, table.pretty th:first-child {padding-left: 12px;}
.pretty table td:last-child, table.pretty td:last-child, .pretty table th:last-child, table.pretty th:last-child {padding-right: 12px;}
.pretty table tr:first-child th:first-child, table.pretty tr:first-child th:first-child {border-radius: 12px 0 0 0;}
.pretty table tr:first-child th:last-child, table.pretty tr:first-child th:last-child {border-radius: 0 12px 0 0;}
.pretty table tr:last-child td:first-child, table.pretty tr:last-child td:first-child {border-radius: 0 0 0 12px;}
.pretty table tr:last-child td:last-child, table.pretty tr:last-child td:last-child {border-radius: 0 0 12px 0;}
.pretty table td, .pretty table th, table.pretty td, table.pretty th {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: center;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
	cursor: default;
}
.pretty table th, table.pretty th {
	font: 700 14px/16px franklin-gothic-urw, sans-serif;
	color: #005c50;
	background-color: #e5efed;
}
.pretty table td, table.pretty td {
	font: 400 12px/14px ff-more-web-pro, serif;
	color: black;
}
/*This striping scheme works with CKEditor's tables, which don't use THEAD and instead put the TH rows within the TBODY. It will be backwards if the table uses THEAD, as in a view.*/
.pretty table tr:nth-child(2n) td, table.pretty tr:nth-child(2n) td {
	background-color: #d9e7e5; /*Dark*/
}
.pretty table tr:nth-child(2n+1) td, table.pretty tr:nth-child(2n+1) td {
	background-color: #e5efed; /*Light*/
}
.pretty table tr:nth-child(2n):hover td, table.pretty tr:nth-child(2n):hover td {
	background-color: #ccdedc; /*Dark*/
}
.pretty table tr:nth-child(2n+1):hover td, table.pretty tr:nth-child(2n+1):hover td {
	background-color: #f2f7f6; /*Light*/
}


/*********** TOP-LEVEL MENU LANDING PAGES ***********/
#block-menu-block-2 ul li {
	display: block;
	font: 700 14px/16px franklin-gothic-urw, sans-serif;
	padding-bottom: 10px;
}


/*********** RELATED LINKS SECTION ***********/
#block-menu-block-3 {
	margin-top: 60px;
	background-color: #e5efed;
	padding: 20px;
	border-radius: 12px;
}
#block-menu-block-3 h2 {
	font: 700 22px/28px franklin-gothic-urw, sans-serif;
	color: #005c50;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#block-menu-block-3 li {
	font: 400 12px/18px ff-more-web-pro, serif;
	margin-bottom: 6px;
	display: block;
}
#block-menu-block-3 li a {
	color: #5f646a;
	text-decoration: none;
}
#block-menu-block-3 li a:hover {
	color: #00a892;
}
#block-menu-block-3 li a.active {
	display: none;
}


/*********** PAGE-LEVEL SOCIAL MEDIA LINKS ***********/
.social-share {
	font: 500 12px/24px ff-more-web-pro, serif;
	color: #5f646a;
}
.social-share a {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url('../images/social_media.png');
	background-repeat: no-repeat;
	background-size: 96px 36px;
	color: transparent;
	overflow: hidden;
	margin-left: 8px;
	vertical-align: middle;
}
a.social-share-facebook {
	background-position: 0 0;
}
a.social-share-twitter {
	background-position: -12px 0;
}
a.social-share-googleplus {
	background-position: -24px 0;
}
a.social-share-linkedin {
	background-position: -36px 0;
}
.front .social-share { /*Hide on the front page*/
	display: none;
}


/*********** FEATURES ***********/
.feature {
	background-color: #e5efed;
	padding: 20px;
	border-radius: 12px;
}
#block-views-home-page-specials-block {
  margin-top: 40px;
}
.view-home-page-rates,
.view-home-page-specials
{
	font: 400 14px/24px ff-more-web-pro, serif;
	color: #5f646a;
}
.view-home-page-rates table,
.view-home-page-specials table
{
	width: 100%;
}
.view-home-page-rates table td:nth-child(2),
.view-home-page-specials table td:nth-child(3)
{
	text-align: right;
}
.view-home-page-rates a,
.view-home-page-specials a
{
	text-decoration: none;
}
.view-home-page-rates .rate,
.view-home-page-specials .rate
{
	font: 700 20px/24px franklin-gothic-urw, sans-serif;
	color: #f09032;
}
.view-home-page-rates .rate_type,
.view-home-page-specials .rate_type
{
	font-size: 9px;
}
.view-home-page-specials .views-field-field-disclosure {
  font-size: 10px;
  line-height: 14px;
}
#block-views-news-feed-block h2:first-child {
	/*font: 700 28px/28px century-old-style-std, sans-serif;*/
	/*color: #005c50;*/
}
#block-views-news-feed-block h2 a {
	font: 700 19px/24px franklin-gothic-urw, sans-serif;
	color: #06243e;
	text-align: left;
	padding: 10px 0;
	text-decoration: none;
}
#block-views-news-feed-block h3 {
	font: 700 16px/18px franklin-gothic-urw, sans-serif;
	color: #005c50;
	margin-bottom: 10px;
}
#block-views-news-feed-block .field-item {
	font: 400 14px/24px ff-more-web-pro, serif;
	color: #5f646a;
	margin-bottom: 10px;
}
.view-news-feed .views-row:not(.views-row-1) h2 {
	margin-top: 60px;
}
#block-block-5 a.button,
#block-block-7 a.button
{
	margin-top: 12px;
}


/*********** FOOTER ***********/
footer {
	background-color: #1c3330;
	margin-top: 30px;
	padding: 30px 0;
	position: relative;
	width: 100%;
}
footer h3 {
	border-bottom: none;
}
footer a {
	color: #ffc94e;
	text-decoration: none;
}
footer a:hover {
	color: #f09032;
}
.view-footer-logos {
	margin-top: 44px;
	margin-bottom: 20px;
}
.view-footer-logos .views-row {
	display: inline-block;
	margin-right: 20px;
}
.view-footer-logos img {
	height: 68px;
	width: auto;
}
.view-footer-logos a {
	opacity: 0.3;
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
.view-footer-logos a:hover {
	opacity: 1;
}
#block-block-4 {
	color: #b2b6b7;
}
#block-block-4 p {
	line-height: 24px;
	margin: 0;
}
#block-block-4 p:nth-child(2) {
	font-size: 12px;
}
#block-block-4 p:nth-child(3) {
	font-size: 10px;
}
.region-footer-right h3 {
	color: white;
	font: 700 24px/24px franklin-gothic-urw, sans-serif;
	margin-bottom: 6px;
}
.region-footer-right p {
	color: white;
	line-height: 18px;
	margin-bottom: 6px;
}
.region-footer-right em {
	font-weight: 500;
}
footer .social_media_icons .menu a {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url('../images/social_media.png');
	background-repeat: no-repeat;
	background-size: 96px 36px;
	color: transparent;
	overflow: hidden;
	margin-right: 8px;
}
footer .social_media_icons .menu a.facebook {
	background-position: 0 -12px;
}
footer .social_media_icons .menu a.twitter {
	background-position: -24px -12px;
}
footer .social_media_icons .menu a.google_plus {
	background-position: -48px -12px;
}
footer .social_media_icons .menu a.linkedin {
	background-position: -72px -12px;
}
#block-block-6 {
	display: none;
}
#block-block-6 p {
	font: 400 10px/14px ff-more-web-pro, serif;
	color: #5f646a;
}


/*********** SITE MAP ***********/
ul.site-map-menu {
	font: 400 14px/16px ff-more-web-pro, serif;
	color: #5f646a;
	margin: 12px 0;
	padding: 0 0 0 24px;
}


/*********** TIME VALUE CALCULATORS ***********/
#block-time-value-calculators-time-value .panel ul {
	font: 400 14px/16px ff-more-web-pro, serif;
	color: #5f646a;
	list-style-type: none;
	margin: 12px 0;
	padding: 0 0 0 24px;
}
#block-time-value-calculators-time-value .panel ul li {
	background: url('../images/bullet.png') no-repeat 0px 3px;
	background-size: 9px 9px;
	padding: 0 0 0 18px;
	margin-bottom: 8px;
}
#block-time-value-calculators-time-value h2 {
	font: 700 19px/24px franklin-gothic-urw, sans-serif;
	color: #06243e;
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: solid 1px #e0e0e0;
}
#block-time-value-calculators-time-value input[type=text], #block-time-value-calculators-time-value input[type=url], #block-time-value-calculators-time-value input[type=tel], #block-time-value-calculators-time-value input[type=number], #block-time-value-calculators-time-value input[type=color], #block-time-value-calculators-time-value input[type=email], #block-time-value-calculators-time-value input[type=date], #block-time-value-calculators-time-value input[type=datetime], #block-time-value-calculators-time-value input[type=datetime-local], #block-time-value-calculators-time-value input[type=month], #block-time-value-calculators-time-value input[type=range], #block-time-value-calculators-time-value input[type=search], #block-time-value-calculators-time-value input[type=time], #block-time-value-calculators-time-value input[type=week], #block-time-value-calculators-time-value input[type=password], #block-time-value-calculators-time-value textarea {
	width: auto;
}
#block-time-value-calculators-time-value label {
	display: inline-block;
}
#block-time-value-calculators-time-value input[type=submit], input[type=button] {
	font: 700 16px/32px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	height: 32px;
	border: 0;
	color: white;
	background-color: #f09032;
	background-image: none;
	width: auto;
	padding: 0 14px;
	border-radius: 6px;
	text-decoration: none;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
	margin-right: 12px;
}
#block-time-value-calculators-time-value input[type=submit]:hover, #block-time-value-calculators-time-value input[type=button]:hover, #block-time-value-calculators-time-value input[type=submit]:focus, #block-time-value-calculators-time-value input[type=button]:focus {
	background-color: #fec84e;
}
.cTimeValue .toggle {
	display: block;
	margin-top: 10px;
}


/*********** HIDE STUFF ***********/
.page-node-4 .social-share,
.page-node-5 .social-share,
.page-node-8 .social-share,
.page-node-9 .social-share
{
	display: none;
}


/*********** MISCELLANEOUS ***********/
.lock {
	padding-left: 16px;
	background: url('../images/lock_gray.png') no-repeat center left;
	background-size: 10px 13px;
	min-height: 13px;
	margin-bottom: 12px;
}
footer .lock {
	background-image: url('../images/lock_gold.png');
}
.night header.main .lock {
	background-image: url('../images/lock_white.png');
}
p.note {
	font: 400 italic 12px/18px ff-more-web-pro, serif;
}
p.disclosure {
	font: 400 10px/14px ff-more-web-pro, serif;
	margin-bottom: 20px;
}
a.button {
	font: 700 16px/18px franklin-gothic-urw, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	min-height: 32px;
	text-align: center;
	color: white;
	background-color: #f09032;
	padding: 7px 14px;
	border-radius: 6px;
	text-decoration: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-khtml-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	cursor: pointer;
	margin-left: 6px;
}
a.button.small {
	font-size: 10px;
	line-height: 8px;
	min-height: 10px;
}
a.button.transparent {
	border: solid 1px #f09032;
	background-color: rgba(240, 144, 50, 0.2);
	color: #f09032;
}
a.button:not(.small):after {
	content: '»';
	margin-left: 6px;
}
a.button:hover {
	background-color: #fec84e;
}
a.button.transparent:hover {
	background-color: rgba(240, 144, 50, 1);
	color: white;
}
ul.square {
	font: 400 14px/16px ff-more-web-pro, serif;
	color: #5f646a;
	list-style-type: none;
	margin: 12px 0;
	padding: 0 0 0 24px;
}
ul.square li {
	background: url('../images/bullet.png') no-repeat 0px 3px;
	background-size: 9px 9px;
	padding: 0 0 0 18px;
	margin-bottom: 8px;
}
ol:not(.flex-control-nav) {
	font: 400 14px/16px ff-more-web-pro, serif;
	color: #5f646a;
	margin: 12px 0;
	padding: 0 0 0 24px;
}
ol:not(.flex-control-nav) li {
	padding: 0 0 0 18px;
	margin-bottom: 8px;
}
.breadcrumb {
	font: 500 12px/24px franklin-gothic-urw, sans-serif;
	color: #b2b6b7;
	padding-bottom: 36px;
}
.breadcrumb a {
	text-decoration: none;
}
table caption {
	font: 700 19px/24px franklin-gothic-urw, sans-serif;
	color: #06243e;
	text-align: left;
	padding: 10px 0;
}
ul.links li.node-readmore {
	font: 500 italic 12px/24px ff-more-web-pro, serif;
	margin-bottom: 12px;
}
ul.links li.node-readmore a {
	text-decoration: none;
}
ul.links li.node-readmore a:after {
	content: ' »';
}
div.description {
	font: 400 italic 12px/24px ff-more-web-pro, serif;
	color: #5f646a;
}
h2 a {
	text-decoration: none;
	color: black;
}
#toolbar ul {
	font: 500 16px/24px franklin-gothic-urw, sans-serif;
}
p.pull_out {
	font: 500 22px/27px franklin-gothic-urw, sans-serif;
	color: #f09032;
	border-top: solid 1px rgba(240,144,50,0.3);
	border-bottom: solid 1px rgba(240,144,50,0.3);
	padding: 15px;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
p.pull_out:hover {
	background-color: rgba(240,144,50,0.15);
}
.node-page img,
.node-article img
{
	max-width: 100%;
	height: auto !important; /* We need this because IMCE inserts inline styles with the width and height. */
}
.fade_on_hover:hover {
	opacity: 0.8;
}
p.big_caption {
	margin: 0;
	font: 700 16px/16px franklin-gothic-urw, sans-serif;
	color: #f09032;
	text-align: center;
}
p.big_caption a {
	color: #f09032;
	text-decoration: none;
}
p.big_caption a:hover {
	color: #fec84e;
	text-decoration: none;
}
p.small_caption {
	text-align: center;
	margin: 0;
	font: 400 italic 12px/14px ff-more-web-pro, serif;
}
p.clear_after_float {
	clear: both;
	margin: 0;
	line-height: 0;
}
#admin-menu .dropdown a {
  line-height: 26px;
}
