@media screen and (max-width: 768px) {
	/*GRID*/
	.full {width: 97.872340425532%;}
	.col_1 {width: 97.872340425532%;}
	.col_2 {width: 97.872340425532%;}
	.col_3 {width: 97.872340425532%;}
	.col_4 {width: 97.872340425532%;}
	.col_5 {width: 97.872340425532%;}
	.col_6 {width: 97.872340425532%;}
	.col_7 {width: 97.872340425532%;}
	.col_8 {width: 97.872340425532%;}
	.col_9 {width: 97.872340425532%;}
	.col_10 {width: 97.872340425532%;}
	.col_11 {width: 97.872340425532%;}
	.col_12 {width: 97.872340425532%;}
	.col_2.of_6 {
		width: 100%;
	}
	.col_3.of_6 {
		width: 100%;
	}
	.col_6.of_9 {
		width: 100%;
	}
	.col_6.of_12 {
		width: 100%;
	}
	.col_12.of_12, .full.of_12 {
		width: 100%;
	}
	.block_container {
		padding: 0;
	}

	/*HEADER*/
	header.main {
		height: auto;
		padding-bottom: 137px; /*This counteracts the distance by which we moved the nav bar down.*/
	}
	.mountains {
		display: none;
	}
	.day header.main {
		background: #005065 url('../images/mountains_tall_day.png') repeat-x top center;
		background-size: 960px 420px;
	}
	.night header.main {
		background: #06243e url('../images/mountains_tall_night.png') repeat-x top center;
		background-size: 960px 420px;
	}
	a.logo {
		margin: 20px auto 0 auto;
	}

	/*TETHERED LOGIN*/
	.tethered_login {
		text-align: left;
		padding: 0 20px;
		margin-top: 30px;
	}
	.tethered_login .form_desktop {
		display: none;
	}
	.tethered_login .button_mobile {
		display: block;
	}
	.tethered_login h6 {
		display: inline-block;
	}
	.tethered_login .username {
		margin-bottom: 20px;
	}
	.tethered_login .password {
		margin-left: 0;
		width: calc(100% - 60px);
	}

	/*MASTHEAD MENU*/
	header.main .menus {
		padding-top: 24px;
		text-align: center;
	}
	header.main .masthead_menu, {
		display: inline-block;
		margin-left: 6px;
	}
	header.main .masthead_menu {
		margin: 0;
		text-align: center;
	}
	header.main .masthead_menu li a.button {
		font-size: 18px;
		padding: 14px;
		width: 100%;
		margin-bottom: 10px;
		margin-left: 0;
	}
	.day header.main .masthead_menu li a.button {
		border-color: #005c50;
		background-color: #005c50;
		color: white;
	}
	header.main .social_media_icons {
		display: none;
	}
	.curve {
		display: none;
	}

	/*NAV BAR*/
	nav.main {
		margin: 0;
		width: 100%;
		position: relative;
		top: 137px;
		float: none;
		clear: both;
	}
	.day nav.main {
		background-color: #005065;
	}
	.night nav.main {
		background-color: #06243e;
	}
	nav.main .menu-block-wrapper > .menu > li {
		float: none;
		height: auto;
		border-top: solid 1px rgba(255,255,255,0.15);
		text-align: center;
	}
	nav.main .menu-block-wrapper > .menu > li > span.search {
		width: auto;
		height: auto;
		color: white;
		overflow: visible;
		background: none;
		margin: 0;
	}
	nav.main .menu-block-wrapper > .menu > li > a, nav.main .menu-block-wrapper > .menu > li > span.nolink {
		border-bottom: none;
	}
	nav.main .menu-block-wrapper > .menu > li a:hover {
		background-color: transparent;
	}
	nav.main .menu .menu { /*Inner menus*/
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		position: relative;
		left: 0;
		box-shadow: none;
		-moz-box-shadow: none;
		-khtml-box-shadow: none;
		-webkit-box-shadow: none;
		transition: max-height 0.7s ease 0s, opacity 0.7s ease 0s;
		-moz-transition: max-height 0.7s ease 0s, opacity 0.7s ease 0s;
		-khtml-transition: max-height 0.7s ease 0s, opacity 0.7s ease 0s;
		-webkit-transition: max-height 0.7s ease 0s, opacity 0.7s ease 0s;
	}
	nav.main .menu .menu li {
		text-align: center;
		border-top: solid 1px rgba(0,0,0,0.15);
	}
	nav.main .menu li.open .menu { /*Inner menus*/
		max-height: 500px;
		opacity: 1;
	}
	nav.main .menu .menu li a:hover, nav.main .menu .menu li a.active:hover {
		background-color: #005c50;
	}

	/*SEARCH*/
	#block-search-form {
		box-shadow: none;
		-moz-box-shadow: none;
		-khtml-box-shadow: none;
		-webkit-box-shadow: none;
		position: relative;
		right: auto;
		left: 0;
		top: 0;
		overflow: hidden;
		max-height: 0;
		border-bottom: solid 1px rgba(0,0,0,0.15);
		transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-khtml-transition: all 0.7s ease 0s;
		-webkit-transition: all 0.7s ease 0s;
		padding-top: 0;
		padding-bottom: 0;
	}
	#block-search-form.open {
		max-height: 200px;
		opacity: 1;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#block-search-form .form-item { /*Text input container*/
		width: calc(100% - 100px);
	}
	#block-search-form .form-item input[type=text] { /*Text input*/
		width: 100%;
	}
	#block-search-form .form-actions { /*Submit button container*/
		float: left;
		width: 100px;
	}
	#block-search-form .form-actions input[type=submit] { /*Submit button*/
		border-radius: 0 6px 6px 0;
		margin: 0;
		width: 100%;
	}
	nav.main .menu-block-wrapper > .menu > li > span.nolink:hover,
	nav.main .menu-block-wrapper > .menu > li > span.nolink.open
	{
		background-color: transparent;
	}

	/*CAROUSEL*/
	.carousel {
		height: 130px;
	}
	.carousel_spacer { /*A blank area that takes up the same amount of vertical space as a slider, so the slider can be position: absolute*/
		height: 130px;
		margin-bottom: 0;
	}
	.carousel_spacer .spinner {
		display: none;
	}
	.carousel .slide {
		height: 130px;
		background-size: 832px 130px;
	}
	.flexslider {
		margin-bottom: 0;
	}
	.flex-control-nav {
		display: none;
	}

	/*NOTICES*/
	#block-views-special-notices-block {
		border-radius: 0;
		margin-bottom: 0;
	}

	/*CONTENT*/
	section.content {
		margin-top: 0;
	}
	section.content .main_content {
		padding: 20px;
		margin: 0;
		width: 100%;
	}
	.front section.content .main_content {
		padding: 0;
	}

	/*FEATURES*/
	.feature {
		border-radius: 0;
		background-color: white;
		border-bottom: solid 1px rgba(0,0,0,0.15);
		margin: 0;
		width: 100%;
	}

	/*RELATED LINKS*/
	.sidebar_right {
		margin: 0;
		width: 100%;
	}
	#block-menu-block-3 {
		margin-top: 0;
		border-radius: 0;
	}

	/*FOOTER*/
	footer {
		margin-top: 0;
		padding: 20px;
	}
	.view-footer-logos {
		margin-top: 0;
		margin-bottom: 20px;
		padding: 0;
		text-align: center;
	}
	#block-block-3 {
		text-align: center;
		margin-top: 20px;
	}
	#block-block-4 {
		text-align: center;
	}
	#block-block-4 .copyright {
		display: none;
	}
	#block-menu-menu-social-media-icons .menu {
		text-align: center;
	}
	#block-menu-menu-social-media-icons .menu .last a {
		margin-right: 0;
	}
	#block-block-6 {
		display: block;
		text-align: center;
	}

	/*MISC*/
	.breadcrumb {
		display: none;
	}
}
